name = "streamtrack-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "streamtrack"
database_id = "e36fd369-7ba0-4b46-9ed6-08f67279d8a2"

[triggers]
crons = ["0 */4 * * *"]  # Every 4 hours (6 times per day) to spread load

[vars]
CORS_ORIGIN = "*"
